<html>
  <head>
    <title>Editer le restaurant n°<%= id %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <style>
    body{
      background-color: white !important;
    }
  </style>
  <body class="jumbotron">
    <div class="container text-center">
      <% if (1..Gossip.all.length).include? id %>
        <h1 class="mb-5">Page d'edition du restaurant</h1>
        <p>Voici la page d'edition du restaurant n°<%=id%></p>
        <form action='/gossips/<%= id %>/edit/' method='POST'>
        Saisissez ici le nom du chef : <br><input type='text' name='gossip_author'/><br/>
        Et le nom du restaurant : <br><input type='text' name='gossip_content'/><br/>
        <input class="btn btn-light mt-3 mb-3" type='submit'/>
      </form>
      <% else %>
        <h1 class="mb-5">Le restaurant n°<%=id%> n'existe pas (encore).</h1>
      <% end %>
      <a class="btn btn-primary mb-5"href="/">Lien pour revenir à la page des restaurants</a>
    </div>
  </body>
</html>
