<html>
  <head>
    <title>The Restaurant Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <style type="text/css">
    a {
      font-size: 1.3rem;
    }
    body {
      background-color: white !important;
    }
  </style>
  <body class="jumbotron">
    <div class="container text-center">
      <h1>Bienvenue sur mon site de notation de restaurants</h1>
      <h2 class="mb-5"><em> assez sobre et épuray</em></h2>
      <a class="btn btn-primary mb-5" href="gossips/new/">Ajouter votre restaurant à la liste</a>
      <% gossips.each_with_index do |gossip, i| %>
        <br>
        <a href="gossips/<%= i+1 %>/">
          <%= gossip.content %>
        </a>
      <% end %>
    </div>
  </body>
</html>
