<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="gossips/new/">Creer un gossip</a>
    <% gossips.each_with_index do |gossip, i| %>
      <br>
      <a href="gossips/<%= i+1 %>/">
      <%=i+1%>) <%= gossip.content %>
      </a>
    <% end %>
  </body>
</html>
